<nav class="navbar navbar-custom navbar-expand-sm navbar-dark">
	<a class="navbar-brand" href="/">
		<img src="/public/img/logo-semfundo.png" width="50" height="50" class="logo">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active px-1 py-1">
				<a class="nav-link badge badge-pill badge-dark px-2" href="/sobre">Sobre</a>
			</li>
			<li class="nav-item active px-1 py-1">
				<a class="nav-link badge badge-pill badge-dark px-2" href="/historia">História</a>
			</li>
			<li class="nav-item active px-1 py-1">
				<a class="nav-link badge badge-pill badge-dark px-2" href="/cadastro">Cadastro</a>
			</li>
			<li class="nav-item active px-1 py-1">
				<a class="nav-link badge badge-pill badge-dark px-2" href="/produtos">Produtos</a>
			</li>
			<li class="nav-item active px-1 py-1">
				<a class="nav-link badge badge-pill custom-badge-color px-2" href="/promocao">Promoção</a>
			</li>
		</ul>
	</div>
</nav>
<hr class="mt-0" style="border-color: black;">
