<div>
	<!--Copyright Paio Pão &copy; 2023.
	-->

	<footer class="pt-4 my-md-5 pt-md-5 border-top container-fluid">
		<div class="row">
		  <div class="col-12 col-md">
			<a href="/">
				<img class="mb-2" src="/public/img/logo-semfundo.png" alt="" width="50" height="50">
			</a>
			
			<small class="d-block mb-3 text-muted">&copy; 2023</small>
		  </div>
		  <div class="col-6 col-md">
			<h5>Paio Pão</h5>
			<ul class="list-unstyled text-small">
			  <li><a class="text-muted" href="/sobre">Sobre</a></li>
			  <li><a class="text-muted" href="/historia">História</a></li>
			  <li><a class="text-muted" href="/cadastro">Cadastro</a></li>
			  <li><a class="text-muted" href="/produtos">Produtos</a></li>
			</ul>
		  </div>
		  <div class="col-6 col-md">
			<h5>Contato</h5>
			<ul class="list-unstyled text-small">
			  <li>
				<i class="bi bi-pin-fill"></i>
				<a class="text-muted">Rua Vingadores, 123</a></li>
			  <li>
				<i class="bi bi-map"></i>
				<a class="text-muted">Shieldland</a></li>
			  <li>
				<i class="bi bi-telephone"></i>
				<a class="text-muted">(555) AVENGERS</a></li>
			  <li>
				<i class="bi bi-envelope"></i>
				<a class="text-muted" href="#">contato@paiopao.com</a></li>
			</ul>
		  </div>

		  <div class="col-6 col-md">
			<h5>Redes</h5>
			<i class="bi bi-envelope icone"></i>
			<i class="bi bi-instagram icone"></i>
			<i class="bi bi-whatsapp icone"></i>
			<i class="bi bi-facebook icone"></i>
			
		  </div>
		</div>
	  </footer>
</div>
