<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("comum/cabecalho") %>
</head>
<body>

	<%- include("comum/nav") %>
	<hr  class="linha-nav">

	<%- body %>
	

	<%- include("comum/rodape") %>

</body>
</html>
