
body {
    color:black;
}

.pao {
    max-width: 100%;
    width:300px; 
    height:300px;
}

.logo {
    max-width: 100%;
}

.navbar-custom {
    background-color: #e9c174;
}

.nav-link {
    font-size: 11px;

}

.carousel-item {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.pao2 {
    padding-bottom: 3.5rem;
    
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;

}

.limitador-titulo {
	max-width: 15rem;
	margin: 0 auto;

}

