
body {
    color:black;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat Alternates';   
}

span {
    color: #e9c174;
    font-weight: bold;
    font-style: italic;
}

h5 {
    font-weight: bold;
}

.pao {
    max-width: 100%;
    width:500px; 
    height:500px;
}

.logo {
    max-width: 100%;
}

.navbar-custom {
    background-color: #e9c174;
}

.nav-link {
    font-size: 11px;

}

.presentationSection {
    background-image: url(/public/img/fundo1.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem 0rem 2rem 0rem;
}

.bg {
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    color: white;
    box-shadow: 0 0 20px #000;

}

.texto{
    padding-bottom: 5rem;
}

/*.linha {
    border-color:white;
}
*/

.carouselSection {

    padding: 2rem 0rem 2rem 0rem;


}
.carousel-item {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.pao2 {
    padding-bottom: 3.5rem;
    
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;

}

.limitador-titulo {
	max-width: 15rem;
	margin: 0 auto;

}

.secaoRecomendacao {
    background-color: #f7f7f7;
}

.gradiente {
    background: linear-gradient(135deg, #0d0d0e, #e9c174);
}

.fundo-dark {
    background-color: rgba(0,0,0,0.5);

}
.botao-editar {
    padding-top: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.icone {
    font-size: 2rem;
}