<div class="container-fluid pt-3 my-md-5">
	<div class="row">
		<div class="col-md-6 py-2">
			<div class="card">
				<h3 class="card-header">CADASTRO DO PRODUTO</h3>
				<div class="card-body">
					<form id="formCadastro">
						<div class="form-row">
							<div class="form-group col-md-6">
							  <label for="nome">Nome Produto</label>
							  <input type="text" class="form-control" id="nome" name="nome">
							</div>
							<div class="form-group col-md-6">
							  <label for="codigo">Código Produto</label>
							  <input type="text" class="form-control" id="codigo" name="codigo">
							</div>
						  </div>
						  <div class="form-row">
							<div class="form-group col-md-6">
								<label for="inclusao">Data Inclusão</label>
								<input type="date" class="form-control" id="inclusao" name="inclusao">
							</div>
						  </div>
						  <div class="form-group">
							<label for="idtipo">Tipo de produto</label>
							<input type="number" class="form-control" id="idtipo" name="idtipo">
						  </div>
						  <div class="form-row">
							<div class="form-group col-md-6">
							  <label for="marca">Marca do produto</label>
							  <input type="text" class="form-control" id="marca" name="marca">
							</div>
							<div class="form-group col-md-4">
							  <label for="ean">EAN</label>
							  <input type="text" class="form-control" id="ean" name="ean">
							</div>
						  </div>
						  <div class="form-group">
							<label for="imagem">Imagem Produto</label>
							<input class="form-control" type="file" id="imagem" name="imagem" accept="image/*" />
						</div>
						  <div class="separar pb-2"></div>
						  <hr class="mb-4">
						  <button type="submit" class="btn btn-success btn-block gradiente py-3">Cadastrar</button>
						  <!--<button type="button" class="btn btn-primary btn py-3" onclick="abrirModalAtualizar()">Atualizar</button>-->
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 py-2 img-centro">
			<img src="/public/img/img2.png" class="pao py-3 px-2 mx-4">

		</div>
	</div>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script>
	async function criar(form) {
		let response = await fetch("/api/produto/criar", {
			method: "post",
			body: new FormData(form)
		});

		if (response.ok) {
			Swal.fire(
				'Cadastro',
				'Produto criada com sucesso',
				'success'
				);
		} else {

		}
	}

	$("#formCadastro").validate({
		rules: {
			nome: {
				required: true
			},
			codigo: {
				required: true
			},
			inclusao: {
				required: true
			},
			idtipo: {
				required: true
			},
			marca: {
				required: true
			},
			ean: {
				required: true
			},
			imagem: {
				required: true
			}
		},
		submitHandler: function (form) {
			criar(form);
		}
		
	})

</script>
