
<!--<form id="formCadastro">
	<div class="form-group">
		<label for="nome">Nome</label>
		<input class="form-control" type="text" id="nome" name="nome" maxlength="100" />
	</div>

	<div class="form-group">
		<label for="email">E-mail</label>
		<input class="form-control" type="email" id="email" name="email" maxlength="100" />
	</div>

	<div class="form-group">
		<label for="imagem">Imagem</label>
		<input class="form-control" type="file" id="imagem" name="imagem" accept="image/*" />
	</div>

	<button class="btn btn-primary" type="submit">
		Cadastrar
	</button>
</form> -->

<div class="modal fade" tabindex="-1" id="modalAtualizar">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Atualizar Produto</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="inputNome">Atualizar Nome</label>
					<input type="text" class="form-control" id="inputNomeModal" placeholder="Digite seu nome">
				  </div>
				  <div class="form-group">
					<label for="inputEmail">Atualizar Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email">
				</div>
			</form>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<button type="button" class="btn btn-primary">Salvar</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="container-fluid pt-3 my-md-5">
	<div class="row">
		<div class="col-md-6 py-2">
			<div class="card">
				<h3 class="card-header">CADASTRO DO PRODUTO</h3>
				<div class="card-body">
					<form id="formCadastro">
						<div class="form-row">
							<div class="form-group col-md-6">
							  <label for="inputNome">Nome Produto</label>
							  <input type="email" class="form-control" id="inputNome">
							</div>
							<div class="form-group col-md-6">
							  <label for="inputCodigo">Código Produto</label>
							  <input type="password" class="form-control" id="inputCodigo">
							</div>
						  </div>
						  <div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputData">Data Inclusão</label>
								<input type="date" class="form-control" id="inputDate" placeholder="Data">
							</div>
							<div class="form-group col-md-6">
								<label for="inputEndereco">Endereço Origem</label>
								<input type="text" class="form-control" id="inputEndereco" placeholder="Rua Exemplo Nº 1">
							  </div>
						  </div>
						  <div class="form-group">
							<label for="inputTipoProd">Tipo de produto</label>
							<input type="text" class="form-control" id="inputTipoProd" placeholder=" Salgados / Doces / Frios ">
						  </div>
						  <div class="form-row">
							<div class="form-group col-md-6">
							  <label for="inputMarca">Marca do produto</label>
							  <input type="text" class="form-control" id="inputMarca">
							</div>
							<div class="form-group col-md-4">
							  <label for="inputCategoria">Categoria</label>
							  <select id="inputCategoria" class="form-control">
								<option selected>Escolha</option>
								<option>1</option>
								<option>2</option>
							  </select>
							</div>
							<div class="form-group col-md-2">
							  <label for="inputEAN">EAN</label>
							  <input type="text" class="form-control" id="inputEAN">
							</div>
						  </div>
						  <div class="form-group">
							<label for="imagem">Imagem Produto</label>
							<input class="form-control" type="file" id="imagem" name="imagem" accept="image/*" />
						</div>
						  <div class="separar pb-2"></div>
						  <hr class="mb-4">
						  <button type="button" class="btn btn-success btn-block gradiente py-3" onclick="abrirAlertCadastar()">Cadastrar</button>
						  <!--<button type="button" class="btn btn-primary btn py-3" onclick="abrirModalAtualizar()">Atualizar</button>-->

						  
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 py-2 img-centro">
			<img src="/public/img/img2.png" class="pao py-3 px-2 mx-4">

		</div>
	</div>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script>
	function abrirModalAtualizar() {
            document.getElementById("inputNomeModal").value = ""
			document.getElementById("inputEmail").value = ""
            $("#modalAtualizar").modal("show")

        }

	async function abrirAlertCadastar() {

		let nome = document.getElementById("inputNome").value
		if (nome === '') {
			Swal.fire(
				'Erro no cadastro',
				'Por favor preencha todos os campos',
				'error'
				)
				
		}
		else {
			Swal.fire(
				'Cadastro',
				'Cadastro criado com sucesso',
				'success'
				)

		}

	}

	/*async function cadastrar(form) {
		let response = await fetch("/api/cadastrar", {
			method: "post",
			body: new FormData(form)
		});

		console.log(response.ok);
	}

	$("#formCadastro").validate({
		rules: {
			inputNome: {
				required: true
			},
			inputCodigo: {
				required: true
			},
			inputData: {
				required: true
			}
		},
		submitHandler: function (form) {
			cadastrar(form);
		}
	});*/
</script>
