<style>



  
</style>

<div class="fundo">
  <section class="home d-flex align-items-center h-75" id="home">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-xl-4">
        <h1 class="text-black">Historia Paio-Pao</h1>
        <p class="text-black">Em Pãoville, existia uma pequena padaria chamada Paio Pão, 
          administrada pelos irmãos Miguel e Sofia. Miguel era o padeiro habilidoso, 
          enquanto Sofia era a confeiteira talentosa. Com seus pães deliciosos e doces incríveis, 
          a Paio Pão se tornou uma referência na cidade. Além disso, eles se dedicavam a ajudar a comunidade, 
          doando alimentos para um abrigo local e oferecendo aulas de panificação gratuitas. 
          O sucesso da Paio Pão cresceu e eles abriram filiais em outros lugares da cidade. 
          A história da padaria se espalhou, deixando um legado de sabor e generosidade em Pãoville..</p>
      </div>
      <div class="col-xl-8 d-flex justify-content-end">
        <img class="historia-img" src="/public/img/padariashop.png" alt="">
      </div>
    </div>
  </div>
</section>
</div>

<main class="container-main">
  <section class="solution mb5 pb-5 ">
    <div class="container">
      <h1 class="pt-5 pb-3" >Sobre a Paio Pao</h1>
      <div class="row"> 
        <div class="col-xl-4 cards">
          <div class="card">
            <img class="img-cartao" src="/public/img/logo.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Origem do nome Paio-Pao</h5>
              <p class="card-text">O nome "Paio Pão" foi escolhido pelos 
                irmãos Miguel e Sofia como uma combinação dos nomes de ambos,
                "Paio" sendo uma junção de "Pai" (Miguel) e "Sofia" e "Pão" 
                representando a especialidade da padaria</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 cards">
          <div class="card">
            <img class="img-cartao" src="/public/img/doce-tematico.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Doces temáticos</h5>
              <p class="card-text">Sofia adorava criar doces temáticos para diferentes ocasiões.
                 Ela surpreendia os clientes com bolos e sobremesas personalizadas para aniversários, 
                 casamentos, feriados e outras celebrações, tornando cada ocasião ainda mais especial.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 cards">
          <div class="card">
            <img class="img-cartao" src="/public/img/ingredientes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ingredientes locais</h5>
              <p class="card-text">A padaria Paio Pão tinha um forte compromisso
                 em usar ingredientes locais e frescos em suas receitas. 
                Eles cultivavam uma parceria próxima com agricultores da região, 
                o que permitia oferecer produtos de alta qualidade e apoiar a economia local</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>



 
