<!-- <img src="/public/img/logo-semfundo.png" class="pao" width="200px" height ="200px"> -->


<section id="presentationSection">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-6 py-2">
		  <h2>Bem-vindo à Paio Pão!</h2>
		  <p>Sua padaria com produtos deliciosos e fresquinhos.</p>
		  <p>Na Paio Pão, nós nos orgulhamos em oferecer uma variedade de pães artesanais feitos com ingredientes de alta qualidade e um toque especial de amor. Nosso compromisso é proporcionar aos nossos clientes uma experiência única e saborosa.</p>
		  <p>Além dos pães tradicionais, temos uma seleção de bolos, salgados e doces que vão encantar o seu paladar. Venha nos visitar e saborear as delícias da Paio Pão.</p>
		  <a href="/cadastro" class="btn btn-primary">Cadastre seus produtos</a>
		</div>
		<div class="col-md-6 pb-3 d-flex align-items-center justify-content-center">
		  <img src="/public/img/logo-semfundo.png" alt="Imagem de Apresentação" class="pao2" width="400px" height ="400px">
		</div>
	  </div>
	</div>
</section>

  


<section id="carouselSection">
	<div id="productCarousel" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#productCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#productCarousel" data-slide-to="1"></li>
		<li data-target="#productCarousel" data-slide-to="2"></li>
		<!-- Adicione mais itens do carousel conforme necessário -->
	  </ol>
	  <div class="carousel-inner">
		<div class="carousel-item active" style="background-image: url('/public/img/img2.png')">
		  <div class="carousel-caption">
			<h3>Pãos</h3>
			
		  </div>
		</div>
		<div class="carousel-item" style="background-image: url('/public/img/doce.png')">
		  <div class="carousel-caption">
			<h3>Doces</h3>
			
		  </div>
		</div>
		<div class="carousel-item" style="background-image: url('/public/img/frios2.jpg')">
		  <div class="carousel-caption">
			<h3>Frios</h3>
			<p></p>
		  </div>
		</div>
		<!-- Adicione mais itens do carousel conforme necessário -->
	  </div>
	  <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Anterior</span>
	  </a>
	  <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Próximo</span>
	  </a>
	</div>
  </section>

<div class="secaoRecomendacao">
	<div class="limitador-titulo py-3">
		<h1>Depoimentos</h1>
	</div>
  <div class="container-fluid">  
	<div class="row py-2">
	  <div class="col-md-6">
		<div class="card mb-3">
		  <div class="card-body">
			<blockquote class="blockquote">
			  <p class="mb-0">Os pães da Padaria Paio Pão são simplesmente incríveis! Sempre fresquinhos e com uma textura maravilhosa. Recomendo a todos!</p>
			  <footer class="blockquote-footer">João</footer>
			</blockquote>
		  </div>
		</div>
	  </div>
  
	  <div class="col-md-6">
		<div class="card mb-3">
		  <div class="card-body">
			<blockquote class="blockquote">
			  <p class="mb-0">Os bolos da Padaria Paio Pão são uma perdição! São saborosos e têm uma variedade incrível de sabores. Sempre encomendo para as festas da família.</p>
			  <footer class="blockquote-footer">Maria</footer>
			</blockquote>
		  </div>
		</div>
	  </div>
  
	  <div class="col-md-6">
		<div class="card mb-3">
		  <div class="card-body">
			<blockquote class="blockquote">
			  <p class="mb-0">Os salgados da Padaria Paio Pão são deliciosos! A massa é bem feita e os recheios são muito saborosos. Não resisto a um bom pastel!</p>
			  <footer class="blockquote-footer">Carlos</footer>
			</blockquote>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
  



<p>Oi, <%= usuario %>! 😅</p>

<% for (let contador = 0; contador < quantidadeDeRepeticoes; contador++) { %>

	<h2>😱</h2>

	<p>O que é isso?!?!</p>

<% } %>

<%- include("exemplo-include") %>

<p>Tchau, <%= usuario %>!</p>

<%- contentFor("espaco-head") %>

<style type="text/css">
	body {
		color:black;
	}

	.nav-link {
    font-size: 18px;

}
	.carousel-item {
      height: 400px;
      background-size: cover;
      background-position: center;
    }

	.pao2 {
		padding-bottom: 3.5rem;
		
	}

	h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }

  .limitador-titulo {
	max-width: 15rem;
	margin: 0 auto;
  }
	
</style>
