<div class="titulo-promo">
  <h1 class="alinhamento">🥐 Promoção Especial da Paio Pão! 🥖</h1>
  <h2 class="alinhamento">Aqui na nossa padaria, queremos tornar seu dia ainda mais delicioso e agradável com uma promoção incrível! Confira os detalhes!</h2>
</div>
<div id="carouselPromocao" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner promocao">
    <div class="carousel-item active">
      <img src="/public/img/carrossel-1.png" class="imagem-carrossel" alt="Promoção" />
    </div>
    <div class="carousel-item">
      <img src="/public/img/carrossel-2.png" class="imagem-carrossel" alt="Promoção" />
    </div>
    <div class="carousel-item">
      <img src="/public/img/carrossel-3.png" class="imagem-carrossel" alt="Promoção" />
    </div>
    <div class="carousel-item">
      <img src="/public/img/carrossel-4.png" class="imagem-carrossel" alt="Promoção" />
    </div>
    <div class="carousel-item">
      <img src="/public/img/carrossel-5.png" class="imagem-carrossel" alt="Promoção" />
    </div>
    <div class="carousel-item">
      <img src="/public/img/carrossel-6.png" class="imagem-carrossel" alt="Promoção" />
    </div>
    <div class="carousel-item">
      <img src="/public/img/carrossel-7.png" class="imagem-carrossel" alt="Promoção" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselPromocao" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselPromocao" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </button>
  </div>
  <div class="container-fluid fundo-promo">
    <div class="row ajuste">

        <div class="col-sm-4">
          <img src="/public/img/pao-frances.jpg" alt="Pão Francês" />
        </div>

        <div class="col-sm-4">
          <h3>Café da Manhã Especial</h3>
          <p>Comece o seu dia com um café da manhã incrível por um preço especial. Adquira um combo de café da manhã, que inclui um café ou chá, um pão de sua escolha e uma porção de frutas frescas. Por apenas R$ 10,00!</p>
        </div>
    </div>

      <div class="row ajuste">

        <div class="col-sm-4">
          <img src="/public/img/pao-integral.jpg" alt="Pão Integral" />
        </div>

        <div class="col-sm-4">
          <h3>Combo de Lanche</h3>
          <p>Para o almoço ou um lanche rápido, oferecemos um combo irresistível. Adquira um sanduíche de sua escolha, acompanhado de uma bebida (refrigerante, suco ou água) e uma porção de batatas fritas. Por apenas R$ 15,00!</p>
        </div>
      </div>

        <div class="row ajuste">

          <div class="col-sm-4">
            <img src="/public/img/bolo-calabresa.jpg" alt="Bolo Calabresa" />
          </div>
  
          <div class="col-sm-4">
            <h3>Pães Especiais</h3>
            <p>Todos os dias, trazemos uma seleção de pães especiais fresquinhos e saborosos. Durante a promoção, você pode levar 3 pães especiais por apenas R$ 10,00! Escolha entre pães integrais, de ervas, multigrãos, e muitos outros.</p>
          </div>
        </div>

        <div class="row ajuste">

          <div class="col-sm-4">
            <img src="/public/img/bolo-cenoura.jpg" alt="Bolo Cenoura" />
          </div>
  
          <div class="col-sm-4">
            <h3>Bolo da Semana</h3>
            <p>Cada semana, escolhemos um de nossos deliciosos bolos caseiros para ser o "Bolo da Semana". Durante a promoção, você pode levar uma fatia generosa desse bolo por apenas R$ 5,00! Venha experimentar os sabores únicos e se deliciar com essa oferta especial.</p>
          </div>
        </div>

        <div class="row ajuste">

          <div class="col-sm-4">
            <img src="/public/img/cueca-virada.jpeg" alt="Cueca Virada" />
          </div>
  
          <div class="col-sm-4">
            <h3>Desconto para Aniversariantes</h3>
            <p>Se o seu aniversário é nesta semana, oferecemos um desconto especial! Ao apresentar um documento de identidade comprovando seu aniversário, você receberá um desconto de 20% em qualquer produto de nossa padaria. Aproveite seu dia de forma doce e saborosa!</p>
          </div>
        </div>
    </div>
</div>
