<div>
    <h1 class="c1">
        Sobre Nós
    </h1>   
</div>

<br>
<br>    

<div class="container-fluid margemGorda">
    <div class="row">
        <div class="col-sm-6 textoCentral cor1">
            <p>
                <h1>
                Nossa Missão <br>
                <img src="/public/img/imagem_linha.png" width = "200">
                </h1>
                <a>
                    Depois de uma ideia de como poderiamos usar <br>
                    um sistema para melhorar certos processos do <br>
                    gerenciamento geral de uma padaria começou a <br>
                    ser feita a produção de um site/programa, feito <br> 
                    por um grupo de alunos da ESPM, para que se <br> 
                    conseguisse alcançar a otimização do controle <br>
                    e da organização do abastecimento de, não só  <br>
                    uma padaria, mas de um estabelecimento em geral.  
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <div class="imagensEfeito">
            <p>
                <img src="/public/img/imagem_padaria1.png" width = "550">
            </p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="c2">
                <p>
                    <img src="/public/img/image.png" width = "85">
                </p>
                <h2>
                    Gabriel
                </h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="c2">
                <p>
                    <img src="/public/img/image.png" width = "85">
                </p>
                <h2>
                    Henrique    
                </h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="c2">
                <p>
                    <img src="/public/img/image.png" width = "85">
                </p>
                <h2>
                    Rafael
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="margemGorda">
    <p>
        <a>
            Depois de diversas diversas discussões sobre o assunto, acabamos duwhbfiebo ou2bi2ufrun 3ngn3ongrping3og <br> bb 
        </a>
    </p>
</div> 

<div class="container-fluid">
    <div class="margemGorda">
        <div class="row">
            <div class="col-sm=6">
                <p class="margemGorda">
                    <img src="/public/img/imagem_padaria2.png" width = "500"> 
                </p>
            </div>
            <div class="col-sm=6">
                <p class="margemGorda">
                    <img src="/public/img/imagem_padaria3.png" width = "540"> 
                </p>
            </div>
        </div>
        </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <p>
                <img src="/public/img/image.png" width = "200">
            </p>
        </div>
        <div class="col-sm-6">
            Para o Bolo não solar a dica é pré-aquecer o forno antes de começar a fazer a receita e sempre deixar a temperatura indicada no modo de preparo, pois a temperatura muito alta assa a superfície do bolo, impedindo que ele cresça. Outra dica importante é não bater a massa demais... Mexer apenas o suficiente para que os ingredientes estejam incorporados. E para o bolo não murchar, não abrir o forno nos primeiros 20 minutos (pelo menos).
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="container-fluid margemMagra c1">
    <div class="row">
        <div class="col-sm-4">
            <h2>
                Pao 
            </h2>
            <p>
                Para o crescimento igual do seu Bolo de Chocolate, o fogo do forno deve estar regulado, pode acontecer de ter um lado mais forte que outro e isso faz com que seu bolo cresça desigual. Outro problema pode ser a grade que pode estar colocada errada (torta) ou o fogão estar desnivelado.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
                Pao 
            </h2>
                <p>
                Para o crescimento igual do seu Bolo de Chocolate, o fogo do forno deve estar regulado, pode acontecer de ter um lado mais forte que outro e isso faz com que seu bolo cresça desigual. Outro problema pode ser a grade que pode estar colocada errada (torta) ou o fogão estar desnivelado.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
                Pao 
            </h2>
            <p>
                Para o crescimento igual do seu Bolo de Chocolate, o fogo do forno deve estar regulado, pode acontecer de ter um lado mais forte que outro e isso faz com que seu bolo cresça desigual. Outro problema pode ser a grade que pode estar colocada errada (torta) ou o fogão estar desnivelado.
            </p>
        </div>
    </div>
</div>

<p class="margemGorda">
    <img src="/public/img/imagem_linha.png" width = "1250">
</p>

<%- contentFor("espaco-head") %>

<style>
.c1{
    background-color: #E9C174;
    color: black;
    padding: 40px;
}
.c2{
    background-color: black;
    color: #E9C174;
}
.cor1{
    color: #E9C300;
}
img{
    max-width: 100%;
    border-radius: 5px;
}
.margemGorda{
    margin: 50px;
}
.margemMagra{
    margin: 20px;
}
.fundoEscuro{
    background-color: black;
    color: white;
}
a{
    font-size: 25px;
}
.imagensEfeito{
    stroke: orange;
    stroke-width: 100px;
}
.textoCentral{
    text-align: center;
    text-orientation: mixed;
}
</style>
