<style>
    .c1{
        background-color: #E9C174;
        border-radius: 5px;
        padding: 40px;
    }
    .c3{
        background-color: #E9C174;
        padding: 40px;
        text-align: center;
    }

    .cor1{
        color: #E9C300;
    }

    img{
        max-width: 100%;
        border-radius: 5px;
    }

    .textoCentral{
        text-align: center;
        text-orientation: mixed;
    }
    .cor2{
        color: #E9C300;
        margin  : 20px;
    }

    .devs {
        font-style: italic;
    }
    h2 {
        font-weight: bold;
    }

    .margemGorda{
        margin: 50px 0px;
    }
    .margemMagra{
        margin: 20px 0px;
    }
</style>

<div>

    <h1 class="c3">
        🥖 Sobre Nós 🍞
    </h1>  

</div>



<div class="container marketing">
    <h2 class="cor1 py-3" >
        Equipe de Desenvolvimento<br>
        <img src="/public/img/imagem_linha.png" width = "200" style="text-align: center; margin-left: 6rem;">
    </h2>
    

    <div class="row">
      <div class="col-lg-3 my-3">
        <img class="rounded-circle" src="/public/img/eu.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Gabriel F.</h2>
        <p class="text-justify devs">"Nossa equipe de devs é apaixonada por tecnologia e gastronomia. Criamos sites únicos para padarias, unindo programação e paixão pela panificação. Levamos sabor digital aos clientes.
            Unimos nossa paixão pela programação e nossa apreciação pela arte da panificação para criar websites únicos e atraentes para padarias. Estamos comprometidos em trazer uma experiência digital saborosa aos nossos clientes."</p>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark">
                <i class="bi bi-github"></i>
            </button>
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-linkedin"></i>
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="bi bi-whatsapp"></i>
            </button>
        </div>
      </div>
      <div class="col-lg-3 my-3">
        <img class="rounded-circle" src="/public/img/porto.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Gabriel T.</h2>
        <p class="text-justify devs">"Somos devs especializados em experiências digitais para padarias. Habilidades técnicas e conhecimento do setor nos permitem desenvolver sites atrativos e intuitivos.
            Nosso objetivo é ajudar as padarias a se destacarem com uma combinação única de habilidades técnicas e conhecimento da indústria de alimentos nos permite desenvolver sites intuitivos, funcionais e visualmente atraentes."</p>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark">
                <i class="bi bi-github"></i>
            </button>
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-linkedin"></i>
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="bi bi-whatsapp"></i>
            </button>
        </div>
      </div>
      <div class="col-lg-3 my-3">
        <img class="rounded-circle" src="/public/img/frango.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Rafael M.</h2>
        <p class="text-justify devs">"Na nossa equipe de desenvolvedores, acreditamos que um bom site é a cereja do bolo para qualquer padaria. Combinamos nossa expertise técnica com um profundo entendimento das necessidades do setor para criar plataformas online que atraem, engajam e facilitam a vida dos clientes. 
            Estamos aqui para fazer seu negócio crescer e prosperar no mundo digital da melhor forma que voce possa imaginar."</p>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark">
                <i class="bi bi-github"></i>
            </button>
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-linkedin"></i>
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="bi bi-whatsapp"></i>
            </button>
        </div>
      </div>
      <div class="col-lg-3 my-3">
        <img class="rounded-circle" src="/public/img/semfoto.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Henrique A.</h2>
        <p class="text-justify devs">"Nosso time de desenvolvedores é apaixonado por criar uma presença digital única e memorável para padarias. Com uma abordagem centrada no cliente, projetamos e desenvolvemos websites personalizados que capturam a essência e a autenticidade de cada padaria. Estamos comprometidos em entregar soluções tecnológicas que conectam o sabor e a tradição à era digital."</p>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark">
                <i class="bi bi-github"></i>
            </button>
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-linkedin"></i>
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="bi bi-whatsapp"></i>
            </button>
        </div>
      </div>    
    </div>
    <hr class="my-4" style="border-color: gray;">

</div>    

<div class="container marketing">

    <div class="row">
        <div class="col-sm-6 textoCentral">
            <p>
                <h1 class="cor1">
                Nossa Missão <br>
                <img src="/public/img/imagem_linha.png" width = "200">
                </h1>
                <a>
                 Nossa missão é fornecer produtos de panificação deliciosos e frescos, feitos com ingredientes selecionados e de alta qualidade. 
                 Buscamos criar um ambiente acolhedor e agradável, onde nossos clientes possam desfrutar de produtos frescos, atendimento excepcional e se 
                 sentir parte de nossa comunidade. Queremos encantar os paladares e promover momentos especiais, tornando-nos a escolha preferida de padaria para nossos clientes.
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <div class="imagensEfeito">
            <p>
                <img src="/public/img/imagem_padaria1.jpg" width = "550">
            </p>
            </div>
        </div>
    </div>

</div>

<div class="container marketing">
    <div class="margemGorda">
        <div class="row">
            <div class="col-sm-6">
                    <img src="/public/img/imagem_padaria2.jpg" width = "500" height="352"> 
            </div>
            <div class="col-sm-6">
                    <img src="/public/img/imagem_padaria3.jpeg" width = "540" height="355"> 
            </div>
        </div>
    </div>
    <hr class="my-4" style="border-color: gray;">
</div>

<div class="container marketing">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="cor2">
                Nossa Visão <br>
                <img src="/public/img/imagem_linha.png" width = "200">
            </h1>
        </div>
        <div class="col-sm-8"style="padding-top: 1.5rem;">
            <a>
                Ser reconhecida como a padaria referência em nossa região, oferecendo produtos de alta qualidade, variedade e sabor excepcionais, além de proporcionar um ambiente acolhedor e experiências gastronômicas memoráveis para os nossos clientes.
            </a>
        </div>
    </div>
</div>

<div class="container marketing c1">
    <div class="row">
        <div class="col-sm-4">
            <h2>
                Tradição
            </h2>
            <p>
                Valorizamos a rica tradição da panificação, preservando receitas e técnicas artesanais para proporcionar uma experiência autêntica.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
                Atendimento
            </h2>
            <p>
                Nossa equipe é treinada para oferecer um atendimento cordial, amigável e eficiente, garantindo a satisfação total dos clientes.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
                Qualidade
            </h2>
            <p>
                Nosso compromisso é oferecer produtos de alta qualidade, feitos com ingredientes frescos e selecionados.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>
                Inovação 
            </h2>
            <p>
                Estamos sempre em busca de novas ideias e sabores, mantendo-nos atualizados com as tendências da indústria de panificação para surpreender nossos clientes.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
                Sustentabilidade
            </h2>
            <p>
                Preocupamo-nos com o meio ambiente e adotamos práticas sustentáveis em nossa produção e embalagens, minimizando nosso impacto no planeta.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
                Responsabilidade 
            </h2>
            <p>
                Valorizamos a sustentabilidade e adotamos práticas responsáveis em relação ao meio ambiente e à comunidade em que estamos inseridos.
            </p>
        </div>
    </div>
</div>





