<div>
    <h1 class="c1">
        Sobre Nós
    </h1>   
</div>

<br>
<br>    

<div class="container-fluid margemGorda">
    <div class="row">
        <div class="col-sm-6 textoCentral">
            <p>
                <h1 class="cor1">
                Nossa Missão <br>
                <img src="imagem_linha.png" width = "200">
                </h1>
                <a>
                 Nossa missão é fornecer produtos de panificação deliciosos e frescos, feitos com ingredientes selecionados e de alta qualidade. Buscamos criar um ambiente acolhedor e agradável, onde nossos clientes possam desfrutar de produtos frescos, atendimento excepcional e se sentir parte de nossa comunidade. Queremos encantar os paladares e promover momentos especiais, tornando-nos a escolha preferida de padaria para nossos clientes.
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <div class="imagensEfeito">
            <p>
<<<<<<< Updated upstream
                <img src="imagem_padaria1.png" width = "550">
=======
                <img src="/public/img/logo-semfundo.png" width = "550">
>>>>>>> Stashed changes
            </p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="c2">
                <p>
                    <img src="image.png" width = "85">
                </p>
                <h2>
                    Gabriel
                </h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="c2">
                <p>
                    <img src="image.png" width = "85">
                </p>
                <h2>
                    Henrique    
                </h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="c2">
                <p>
                    <img src="image.png" width = "85">
                </p>
                <h2>
                    Rafael
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="margemGorda">
    <p>
        <a>
<<<<<<< Updated upstream
            Depois de uma ideia de como poderiamos usar 
                    um sistema para melhorar certos processos do 
                    gerenciamento geral de uma padaria começou a 
                    ser feita a produção de um site/programa, feito  
                    por um grupo de alunos da ESPM, para que se  
                    conseguisse alcançar a otimização do controle 
                    e da organização do abastecimento de, não só  
                    uma padaria, mas de um estabelecimento em geral.
=======
            Nossa missão é fornecer pães e produtos de panificação de alta qualidade, frescos e saborosos para satisfazer as necessidades e os desejos dos nossos clientes. Comprometemo-nos em criar um ambiente acolhedor e familiar, onde nossos clientes possam desfrutar de uma experiência gastronômica única. Buscamos constantemente aprimorar nossas técnicas e ingredientes para oferecer produtos excepcionais que promovam momentos de prazer e alegria à mesa de nossos clientes. 
>>>>>>> Stashed changes
        </a>
    </p>
</div> 

<div class="container-fluid">
    <div class="margemGorda">
        <div class="row">
            <div class="col-sm=6">
                <p class="margemGorda">
                    <img src="imagem_padaria2.png" width = "500"> 
                </p>
            </div>
            <div class="col-sm=6">
                <p class="margemGorda">
                    <img src="imagem_padaria3.png" width = "540"> 
                </p>
            </div>
        </div>
        </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <p class="cor2">
                Nossa Visão <br>
                <img src="imagem_linha.png" width = "245">
            </p>
        </div>
<<<<<<< Updated upstream
        <div class="col-sm-8">
            <a>
                Ser reconhecida como a padaria referência em nossa região, oferecendo produtos de alta qualidade, variedade e sabor excepcionais, além de proporcionar um ambiente acolhedor e experiências gastronômicas memoráveis para os nossos clientes.
            </a>
=======
        <div class="col-sm-6">
            Nossa visão é ser a padaria de referência na nossa comunidade, reconhecida pelo sabor excepcional de nossos produtos e pela variedade de opções disponíveis. Queremos criar um ambiente agradável e familiar, onde as pessoas possam desfrutar de momentos especiais e se sentirem parte de uma comunidade unida em torno do prazer de saborear pães e produtos de confeitaria deliciosos.
>>>>>>> Stashed changes
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="container-fluid margemMagra c1">
    <div class="row">
        <div class="col-sm-4">
            <h2>
<<<<<<< Updated upstream
                Tradição
            </h2>
            <p>
                Valorizamos a rica tradição da panificação, preservando receitas e técnicas artesanais para proporcionar uma experiência autêntica.
            </p>
            <h2>
                Atendimento ao cliente 
            </h2>
            <p>
                Nossa equipe é treinada para oferecer um atendimento cordial, amigável e eficiente, garantindo a satisfação total dos clientes.
=======
                Qualidade  
            </h2>
            <p>
                Comprometemo-nos a utilizar ingredientes frescos e de alta qualidade em todas as nossas receitas, garantindo a excelência no sabor e na textura de nossos produtos.
            </p>
            <h2>
                Tradição 
            </h2>
            <p>
                Valorizamos as técnicas tradicionais de panificação, passadas de geração em geração, para oferecer pães e produtos autênticos e com o sabor de casa.
>>>>>>> Stashed changes
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
<<<<<<< Updated upstream
                Qualidade
            </h2>
                <p>
                Nosso compromisso é oferecer produtos de alta qualidade, feitos com ingredientes frescos e selecionados.
            </p>
            <h2>
                Inovação 
            </h2>
            <p>
                Estamos sempre em busca de novas ideias e sabores, mantendo-nos atualizados com as tendências da indústria de panificação para surpreender nossos clientes.
=======
                Variedade 
            </h2>
                <p>
                    Buscamos oferecer uma ampla variedade de produtos, desde pães tradicionais até opções saudáveis e especiais, atendendo às diferentes preferências e necessidades de nossos clientes.
            </p>
            <h2>
                Sustentabilidade 
            </h2>
            <p>
                Preocupamo-nos com o meio ambiente e adotamos práticas sustentáveis em nossa padaria, desde a escolha de ingredientes locais até a redução de desperdício e o uso responsável dos recursos naturais.
>>>>>>> Stashed changes
            </p>
        </div>
        <div class="col-sm-4">
            <h2>
<<<<<<< Updated upstream
                Sustentabilidade
            </h2>
            <p>
                Preocupamo-nos com o meio ambiente e adotamos práticas sustentáveis em nossa produção e embalagens, minimizando nosso impacto no planeta.
            </p>
            <h2>
                Responsabilidade Social e ambiental 
            </h2>
            <p>
                Valorizamos a sustentabilidade e adotamos práticas responsáveis em relação ao meio ambiente e à comunidade em que estamos inseridos.
=======
                Comunidade 
            </h2>
            <p>
                Valorizamos o papel da padaria como um ponto de encontro da comunidade. Procuramos promover eventos e parcerias locais, apoiando iniciativas que fortaleçam os laços entre as pessoas e contribuam para o desenvolvimento da nossa região.
            </p>
            <h2>
                Atendimento Personalizado 
            </h2>
            <p>
                Acreditamos na importância de um atendimento caloroso e acolhedor, tratando nossos clientes com respeito e oferecendo um serviço personalizado, para que se sintam especiais em nossa padaria.
>>>>>>> Stashed changes
            </p>
        </div>
    </div>
</div>

<p class="margemGorda">
<<<<<<< Updated upstream
    <img src="imagem_linha.png" width = "1250">
=======
    <img src="/public/img/imagem_linha.png" width = "1700">
>>>>>>> Stashed changes
</p>

<%- contentFor("espaco-head") %>

<style>
.c1{
    background-color: #E9C174;
    color: black;
    padding: 40px;
}
.c2{
    background-color: black;
    color: #E9C174;
}
.cor1{
    color: #E9C300;
}
img{
    max-width: 100%;
    border-radius: 5px;
}
.margemGorda{
    margin: 50px;
}
.margemMagra{
    margin: 20px;
}
.fundoEscuro{
    background-color: black;
    color: white;
}
a{
    font-size: 25px;
}
.imagensEfeito{
    stroke: orange;
    stroke-width: 100px;
}
.textoCentral{
    text-align: center;
    text-orientation: mixed;
}
</style>
